Repository JennieSH/github-action-demo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,js,vue}": [
    "eslint --fix"
  ],
  "*.{scss,css,vue}": [
    "prettier --write",
    "stylelint --fix"
  ]
}

add github action config
  .github/workflows/main.yml
Due: none

test
  pages/index.vue
Due: eslint --fix, prettier --write, stylelint --fix

modify README
  README.md
Due: none

add title
  pages/index.vue
Due: eslint --fix, prettier --write, stylelint --fix

test
  .github/workflows/main.yml
Due: none

test1
  .github/workflows/main.yml
Due: none

fail source
  .github/workflows/main.yml
  pages/index.vue
Due: eslint --fix, prettier --write, stylelint --fix

init
  .github/workflows/deploy.yml
  README.md
  nuxt.config.js
Due: eslint --fix

test: pass test
  pages/index.vue
  test/NuxtLogo.spec.js
Due: eslint --fix, prettier --write, stylelint --fix

Deploying to gh-pages from @ JennieSH/github-action-demo@228772e24cce438caad6577d7c25e4973cbb3141 🚀
  .nojekyll
  200.html
  _nuxt/1b023a8.js
  _nuxt/2bb8d7a.js
  _nuxt/31769f2.js
  _nuxt/3fcb733.js
  _nuxt/5969b59.js
  _nuxt/6958573.js
  _nuxt/LICENSES
  _nuxt/d43b86d.js
  _nuxt/static/1637273927/manifest.js
  _nuxt/static/1637273927/payload.js
  _nuxt/static/1637273927/state.js
  favicon.ico
  index.html
Due: eslint --fix

test: fail test
  nuxt.config.js
  test/NuxtLogo.spec.js
Due: eslint --fix

test: fail test
  test/NuxtLogo.spec.js
Due: eslint --fix

test: pass test
  test/NuxtLogo.spec.js
Due: eslint --fix

Deploying to gh-pages from @ JennieSH/github-action-demo@9090f12c1416cce882b8f27ca38530b10c164fb5 🚀
  200.html
  _nuxt/1b023a8.js
  _nuxt/LICENSES
  _nuxt/df4a331.js
  _nuxt/static/1637273927/state.js
  _nuxt/static/1637275366/manifest.js
  _nuxt/static/1637275366/payload.js
  _nuxt/static/1637275366/state.js
  index.html
Due: eslint --fix

rename title
  nuxt.config.js
  pages/index.vue
Due: eslint --fix, prettier --write, stylelint --fix

Deploying to gh-pages from @ JennieSH/github-action-demo@8dfbc2bee41a8527d787ae60dfc52fc493d968a7 🚀
  200.html
  _nuxt/31769f2.js
  _nuxt/3fcb733.js
  _nuxt/644d670.js
  _nuxt/738baa2.js
  _nuxt/LICENSES
  _nuxt/d0238ea.js
  _nuxt/df4a331.js
  _nuxt/static/1637275366/state.js
  _nuxt/static/1637276922/manifest.js
  _nuxt/static/1637276922/payload.js
  _nuxt/static/1637276922/state.js
  index.html
Due: eslint --fix

ci: add demo workflows
  .github/workflows/demo.yml
Due: none

Deploying to gh-pages from @ JennieSH/github-action-demo@9da4ec6c99492e244e63e5b8a12436142902fe53 🚀
  200.html
  _nuxt/static/1637276922/state.js
  _nuxt/static/1672954525/manifest.js
  _nuxt/static/1672954525/payload.js
  _nuxt/static/1672954525/state.js
  index.html
Due: eslint --fix

ci: add greetings workflows
  .github/workflows/greetings.yml
Due: none

Deploying to gh-pages from @ JennieSH/github-action-demo@9cd8252fe433ed775b40e5915f74d7ae0cb58ce9 🚀
  200.html
  _nuxt/static/1672954525/state.js
  _nuxt/static/1672997712/manifest.js
  _nuxt/static/1672997712/payload.js
  _nuxt/static/1672997712/state.js
  index.html
Due: eslint --fix

chore: change title
  pages/index.vue
Due: eslint --fix, prettier --write, stylelint --fix

Deploying to gh-pages from @ JennieSH/github-action-demo@130ff95eadafe33fd3562aad2ac5c0f4129515ae 🚀
  200.html
  _nuxt/static/1672997712/state.js
  _nuxt/static/1672999720/manifest.js
  _nuxt/static/1672999720/payload.js
  _nuxt/static/1672999720/state.js
  index.html
Due: eslint --fix

Deploying to gh-pages from @ JennieSH/github-action-demo@d16cf6eb0265f7bd2549f4944d6f488c71ada433 🚀
  200.html
  _nuxt/static/1672999720/state.js
  _nuxt/static/1673000480/manifest.js
  _nuxt/static/1673000480/payload.js
  _nuxt/static/1673000480/state.js
  index.html
Due: eslint --fix

Deploying to gh-pages from @ JennieSH/github-action-demo@e4e41371277b7f49163f1be9ce4d5d2f326813f8 🚀
  200.html
  _nuxt/static/1673000480/state.js
  _nuxt/static/1673001050/manifest.js
  _nuxt/static/1673001050/payload.js
  _nuxt/static/1673001050/state.js
  index.html
Due: eslint --fix

Deploying to gh-pages from @ JennieSH/github-action-demo@c16b5ae501f6a52eb0bdf05ae2d92d953ad2a7ae 🚀
  200.html
  _nuxt/static/1673001050/state.js
  _nuxt/static/1673001123/manifest.js
  _nuxt/static/1673001123/payload.js
  _nuxt/static/1673001123/state.js
  index.html
Due: eslint --fix

Deploying to gh-pages from @ JennieSH/github-action-demo@44934665d7f4534a706238f587e649b381622acb 🚀
  200.html
  _nuxt/static/1673001123/state.js
  _nuxt/static/1673001377/manifest.js
  _nuxt/static/1673001377/payload.js
  _nuxt/static/1673001377/state.js
  index.html
Due: eslint --fix

Deploying to gh-pages from @ JennieSH/github-action-demo@1da4ed4e59ba09b3f972275dc0f5b59017343d81 🚀
  200.html
  _nuxt/static/1673001377/state.js
  _nuxt/static/1673001838/manifest.js
  _nuxt/static/1673001838/payload.js
  _nuxt/static/1673001838/state.js
  index.html
Due: eslint --fix

Deploying to gh-pages from @ JennieSH/github-action-demo@692edc6c64d0ba471d4ffbf6445c6cffb8cb5fd1 🚀
  200.html
  _nuxt/static/1673001838/state.js
  _nuxt/static/1673002253/manifest.js
  _nuxt/static/1673002253/payload.js
  _nuxt/static/1673002253/state.js
  index.html
Due: eslint --fix

Deploying to gh-pages from @ JennieSH/github-action-demo@17f33e483cf98bc3ff965add5c0673a0e9ca66d0 🚀
  200.html
  _nuxt/static/1673002253/state.js
  _nuxt/static/1673002317/manifest.js
  _nuxt/static/1673002317/payload.js
  _nuxt/static/1673002317/state.js
  index.html
Due: eslint --fix

Deploying to gh-pages from @ JennieSH/github-action-demo@73935976c2367051902531e5d005a13363c4e23c 🚀
  200.html
  _nuxt/static/1673002317/state.js
  _nuxt/static/1673002380/manifest.js
  _nuxt/static/1673002380/payload.js
  _nuxt/static/1673002380/state.js
  index.html
Due: eslint --fix

ci: add testing workflows
  .github/workflows/testing.yml
Due: none

Deploying to gh-pages from @ JennieSH/github-action-demo@055f34c404b0d69b3497702e4d1faaefb13ba977 🚀
  200.html
  _nuxt/static/1673002380/state.js
  _nuxt/static/1673002617/manifest.js
  _nuxt/static/1673002617/payload.js
  _nuxt/static/1673002617/state.js
  index.html
Due: eslint --fix

Deploying to gh-pages from @ JennieSH/github-action-demo@79af6fba39181fd09d38cc092b7bc3191474f431 🚀
  200.html
  _nuxt/static/1673002617/state.js
  _nuxt/static/1673003798/manifest.js
  _nuxt/static/1673003798/payload.js
  _nuxt/static/1673003798/state.js
  index.html
Due: eslint --fix

Deploying to gh-pages from @ JennieSH/github-action-demo@7cac63431ffcec8d97811bc60ee0783b52757436 🚀
  200.html
  _nuxt/static/1673003798/state.js
  _nuxt/static/1673009575/manifest.js
  _nuxt/static/1673009575/payload.js
  _nuxt/static/1673009575/state.js
  index.html
Due: eslint --fix
